streamlit
opencv-python-headless>=4.10.0.84 # Mac Specific
numpy==1.26.4
Pillow==10.4.0
scikit-image==0.24.0
scikit-learn==1.5.1
dask==2024.8.0
matplotlib==3.9.2
watchdog==4.0.1
streamlit-desktop-app
torch==2.4.0
langchain==0.2.10
tensorflow-macos==2.16.2
tensorflow-metal==1.2.0
tensorboard==2.20.0