streamlit
opencv-python-headless>=4.10.0.84 # Mac Specific
numpy==2.0.2
Pillow==11.3.0
scikit-image==0.24.0
scikit-learn==1.6.1
dask==2024.8.0
matplotlib==3.9.4
watchdog==6.0.0
streamlit-desktop-app
langchain==0.3.27
tensorflow==2.19.0
tensorflow-metal==1.2.0